body{
  display: flex;
}

.img{
  width: 50%;
  height: 50%;
}

header{
  width: 100%;
  top: 0;
  background-color: black;
  color: white;
  font-family: 'Exo 2', sans-serif;
  padding: 1em;
}

#navbar{
  position: fixed;
  left: 0;
}

#header-img{
  width: 50%;
  height: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
